<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
        <link href="{{ url_for('static', filename='css/bootstrap.min.css')}}" rel="stylesheet">
        <script src="{{ url_for('static', filename='js/jquery.js')}}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <title>PeARS - {{name}}</title>
    </head>

    <body style="background-image: url('/static/background.png'); background-color:#000000; background-size:cover; background-repeat:no-repeat; background-position:center center;">
    <nav class="navbar navbar-default" style="background-color: #000000;">
    <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div style="padding-left:20px">
          <a href="{{url_for('search.index')}}"><img src="/static/pears-logo-small-inverse.png" height="80px"></a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav">
        <li><a href="{{url_for('pages.return_about')}}">About</a></li>
        </ul>
        </div>
    </div>
    </nav>

    <div class="container">

        <div  class="row">
            <div class="col-md-6">
            <div style="background-color:#fff; color:#000; padding:10px;  border-radius:5px">
            <h3>What is PeARS?</h3>
            <hr>
            PeARS is an open source project which aims at putting Web search and Web indexing in the hands of the people.
            <h3>What is a pod?</h3>
            <hr>
            A PeARS pod is a searchable index of Web pages. Anybody with a tiny bit of technical knowledge can create a pod to share the best sites they know on a particular topic. The page you are visiting now, for instance, is an awesome pod on [topic]. If you run the PeARS software on your machine, you can download the whole of a pod's data for private searching.
            </div>
        </div>
            
       <div class="container">
            <div style="background-color: #fff; position:fixed; right:4px; bottom:4px; border-radius:3px; padding: 3px" class="btn btn-lg" data-toggle="popover" title="<b>Background image</b>" data-content="<a href='https://www.flickr.com/photos/pixality/10778064765/'>Pods</a> by <br>Flickr user Pixality - CC-BY-SA" data-placement="top" data-html="true" data-trigger="hover">
                <img src="/static/camera_lens.png" width="30px"/><b> Credit</b>
            </div>
       </div>

       <script>
       $(document).ready(function(){
       $('[data-toggle="popover"]').popover({container: 'body'});   
       });
       </script>

    </div><!-- /.container -->
    </body>
</html>
